@mixin mobile {
  @media only screen and (max-width: 1300px) {
    @content;
  }
}

:root {
  --monofont: 'Iosevka', 'M+ 1m', 'IBM Plex Mono', 'Ubuntu Mono', monospace;
}

pre {
  display: block;
  background: #fff;
  background: #f9f5d7;
  position: relative;
  padding: 10px 20pxx;
  width: calc(100% + 8em);
  left: -5em;
  // border: 4px solid #61160b;
  overflow: visible;
  z-index: 1;
  white-space: pre;
  line-height: 16px;
  @include mobile {
    left: inherit !important;
    padding: 2em !important;
    width: calc(100% - 4em) !important;
    max-width: 100%;
    overflow-x: scroll !important;
  }
}
pre {
  font-weight: normal;
  font-family: var(--monofont);
  letter-spacing: 0.1px;
  @include mobile {
    line-height: 0.1em !important;
  }
}
code {
  font-family: var(--monofont);
  font-size: 0.9em;
  color: #970400;
  letter-spacing: 0.1px;
}
pre > code {
  @include mobile {
    font-size: 0.7em !important;
  }
}
.asterism {
  text-align: center;
  font-size: 30px;
}
b.extra {
  font-weight: 800 !important;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: 1.2em;
  line-height: 1em;
}

