main a, main a:active, main a:visited {
  color: #970400;
}
a, a:active, a:visited {
  color: #502274;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #F15025 !important;
}
b, strong {
  font-weight: 700 !important;
}
p, ul, ol {
  width: 100%;
  font-size: 24px;
  @include mobile {
    font-size: 18px !important;
  }
}
ul {
  padding-left: 20px;
}
h1 {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 5px;
  font-weight: bold !important;
  @include mobile {
    font-size: 30px !important;
  }
}
h2 {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  @include mobile {
    font-size: 26px !important;
  }
}
h3 {
  margin-top: 40px;
  font-size: 19px;
  font-weight: bold;
}
blockquote {
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  border-left: 2px solid #53350a;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 10px;
}
.pl20 {
  padding-left: 20px; 
}
p.title {
  font-size: 22px;
}
p img {
  width: 100%;
  border: 1px solid #c00;
}
p img[src$='#float-right'] {
  float: right;
  vertical-align: top;  
}
p.small {
  font-size: 18px !important;
  font-style: italic;
}
.timestamp {
  font-size: 22px;
  color: #000 !important
}
video {
  position: relative;
  // padding: 10px 20px;
  width: calc(100% + 11.5em);
  left: -6em;
  border: 4px solid #502374;
}
.title {
  @include mobile {
    font-size: 0.7em !important;
  }
}

.title p {
  @include mobile {
    font-size: 0.6em !important;
  }
}